/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.mpgs-payment-form {
    .wc-credit-card-form-card-number {
        background-repeat: no-repeat !important;
        background-position: bottom 50% right 0.5rem !important;
        background-size: 2rem 1.4rem !important;
        background-image: url('../../images/credit-cards/unknown.svg');

        &.visa {
            background-image: url('../../images/credit-cards/visa.svg')
        }

        &.mastercard {
            background-image: url('../../images/credit-cards/mastercard.svg')
        }

        &.laser {
            background-image: url('../../images/credit-cards/laser.svg')
        }

        &.dinersclub {
            background-image: url('../../images/credit-cards/diners.svg')
        }

        &.maestro {
            background-image: url('../../images/credit-cards/maestro.svg')
        }

        &.jcb {
            background-image: url('../../images/credit-cards/jcb.svg')
        }

        &.amex {
            background-image: url('../../images/credit-cards/amex.svg')
        }

        &.discover {
            background-image: url('../../images/credit-cards/discover.svg')
        }
    }
}

.wc-block-components-form {
    .mpgs-payment-form-blocks {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .wc-block-components-text-input {
            flex: 1 0 100%;

            &.is-small {
                flex: 0 1 48%;
                width: 48%;
            }

            input[type="text"].wc-credit-card-form-card {
                min-height: 60px;
            }

            &.woocommerce-validated {
                label {
                    color: #305614;
                }

                input.wc-credit-card-form-card {
                    border-color: #305614;
                    height: 55px;
                }
            }
        }
    }
}

.mpgs-3ds-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);

    > div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        max-width: 800px;
        width: 100%;
    }
}