/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.wc_payment_method {

    .payment-core-icon {
        max-width: 40px;
    }
}

#add_payment_method,
.woocommerce-cart,
.woocommerce-checkout {
    #payment div.payment_box {
        .payment-core-payment-form {
            .wc-credit-card-form-card-number {
                background-repeat: no-repeat !important;
                background-position: bottom 50% right 0.5rem !important;
                background-size: 2rem 1.4rem !important;
                background-image: url('../../images/credit-cards/unknown.svg');

                &.visa {
                    background-image: url('../../images/credit-cards/visa.svg')
                }

                &.mastercard {
                    background-image: url('../../images/credit-cards/mastercard.svg')
                }

                &.laser {
                    background-image: url('../../images/credit-cards/laser.svg')
                }

                &.dinersclub {
                    background-image: url('../../images/credit-cards/diners.svg')
                }

                &.maestro {
                    background-image: url('../../images/credit-cards/maestro.svg')
                }

                &.jcb {
                    background-image: url('../../images/credit-cards/jcb.svg')
                }

                &.amex {
                    background-image: url('../../images/credit-cards/amex.svg')
                }

                &.discover {
                    background-image: url('../../images/credit-cards/discover.svg')
                }
            }
        }

        .payment-core-payment-form-elements {
            .form-row {
                display: inline-block;
                padding: 0;

                &.form-row-wide {
                    width: 100%;
                }

                input.input-text {
                    font-size: 1em;
                    margin: 0;
                }
            }
        }
    }

    iframe {
        border-radius: 0 !important;
    }
}

.wc-block-components-form {
    .payment-core-payment-form-blocks {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .wc-block-components-text-input {
            flex: 1 0 100%;

            &.is-small {
                flex: 0 1 48%;
            }

            input[type="text"].wc-credit-card-form-card {
                font-size: 1em;
                border-radius: 0;
            }

            &.woocommerce-validated {
                label {
                    color: #305614;
                }

                input.wc-credit-card-form-card {
                    border-color: #305614;
                }
            }
        }
    }
}

#add_payment_method,
.woocommerce-cart,
.woocommerce-checkout,
.wc-block-components-form .payment-core-payment-form-blocks,
.wc-block-checkout__payment-method {
    .payment-core-currency-conversion {
        p {
            margin-bottom: 0.25em;
        }

        table {
            margin-bottom: 0.25em;

            tr {
                display: flex;

                td {
                    padding: 0.25em;
                }
            }
        }
    }
}
